<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <!-- <tr class="data-row">
        <td>GPS 938</td>
        <td>Positioning</td>
        <td>true</td>
        <td>HIGH</td>
        <td>2001-11-01</td>
    </tr> -->
    <tr class="data-row" *ngFor="let satellite of satellites">
        <td>{{satellite.name}}</td>
        <td [class.warning] = "satellite.isSpaceDebris()">{{satellite.type}}</td>
        <td>{{satellite.operational}}</td>
        <td>{{satellite.orbitType}}</td>
        <td>{{satellite.launchDate}}</td>

    </tr>
</table>