.sortable {
	cursor: pointer;
	color: rgb(241, 241, 201);
}

.warning {
	background-color: #d19361;
}

table {
	color: rgb(135, 124, 104);
	border-radius: 5px;
	overflow: hidden;
	margin: 12px 0;
	min-width: 300px;
	background: #decea3;
	font-size: larger;
}

.header-row {
	background: #d0b00d;
	color: rgb(243, 241, 222);
	font-size: larger;
}

th, td {
	text-align: left;
	margin: 5px 10px;
	padding: 6px;
}

tr:nth-child(even) {
	background: #e3d8ac;
}